.bg {
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: auto;
}

.static-content {
    background-color: #FFFFFF;
    margin: 0 auto;
    min-height: 100%; /* Set to minimum height so overflow doesn't get hidden */
    overflow-y: hidden; /* HIDE overflow; I know, it doesn't make much sense */
    position: relative;
}
