<html lang="en">
	<head>
		<meta charset="UTF-8" />
		
		<title>Competitor</title>
		
		<link rel="stylesheet" type="text/css" href="../styles/loginstyle.css" />
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
				
	</head>
		<body>
				<h1 id='prompt'>What kind of prize would you like?</h1>
				<button data-label="The Man Kind" ng-click="goTo('gameplay')">The Man Kind</button>
				<button data-label="The Woman Kind" ng-click="goTo('gameplay')">The Woman Kind</button>
				
		</body>
</html>