<html lang="en">
	<head>
		<meta charset="UTF-8" />
		
		<title>Login</title>
		
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
				
	</head>
		<body>
				<h1 id='prompt'>Are you a Competitor or a Prize? </h1>
				<button id='c1' data-label="Competitor" ng-click="goTo('competitor', 'cp'); setIsPrize('false');" >Competitor</button>
				<button id='c2' data-label="Prize" ng-click="goTo('prize'); setIsPrize('true');">Prize</button>
				
		</body>
</html>