<html lang="en">
	<head>
		<meta charset="UTF-8" />
		
		<title>Login</title>
		
		<script type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

		
				
	</head>
		<body>
			<div class="jumbotron">
				<center> <h1 id='prompt'>Are you a Competitor or a Prize? </h1>
				<div class="btn-group-lg" role="group" aria-label="...">
				    <button class="btn btn-default" id='c1' data-label="Competitor" ng-click="goTo('competitor', 'cp')">Competitor</button>
				    <button class="btn btn-default" id='c2' data-label="Prize" ng-click="goTo('prize')">Prize</button>
				</div>
			</div>
		</body>
</html>